# Laravel (dentro de la carpeta Backend)
Backend/vendor
Backend/node_modules
Backend/public/storage
Backend/storage/*.key
Backend/.phpunit.result.cache
Backend/Homestead.yaml
Backend/Homestead.json
Backend/.vagrant

# React (dentro de la carpeta Frontend)
Frontend/node_modules/
Frontend/build/
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

# Logs (para ambos proyectos)
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

// evitar que se suban los archivos de node_modules 
// y vendor a nuestro repositorio de git

Frontend/node_modules/
Backend/vendor/