.alert-floating {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
    width: auto;
    max-width: auto;
}
.comment-content {
    width: 100%; /* Se adapta al ancho del contenedor padre */
    max-width: 600px; /* Ancho máximo constante */
    min-width: 300px; /* Ancho mínimo constante */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    white-space: normal; /* Permite que el texto se divida en varias líneas */
    word-wrap: break-word; /* Permite que las palabras largas se dividan y ajusten al ancho del contenedor */
    border: 1px solid #ccc; /* Borde opcional para visualización */
    padding: 10px; /* Espaciado interno opcional */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
}
