.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* Ajusta el color de fondo según sea necesario */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra para destacar el encabezado */
}

.main-content {
  margin-top: 80px; /* Ajusta este valor según la altura del encabezado */
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  text-align: center;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
  font-family: 'Poppins', sans-serif;
  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(50px);
    font-size: 36px;
  }
}

.link:hover {
  text-decoration: none;
  color: inherit !important;
}

.selected {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 2px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.iconSocial {
  width: 20px;
  height: 20px;
  margin-right: var(--mantine-spacing-xs);
  color: #000;
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

#mega-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.menu-area-custom{ 
  height: 100% !important;
  min-width: 100%;
  display: flex !important;
  align-items: center;
  align-content: center;
  flex-direction: column !important;
}

/* Dispositivos móviles pequeños */
@media (max-width: 320px) {
  body {
    font-size: 18px;
  }
  .drawer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
  }
  
  #menu-area > div > div { 
    height: 100% !important;
    min-width: 100%;
    display: flex !important;
    align-items: center;
    align-content: center;
    flex-direction: column !important;
  }
}

/* Tabletas */
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-md) !important;
    font-family: 'Poppins', sans-serif;
    @media (max-width: $mantine-breakpoint-sm) {
      height: rem(50px);
      font-size: 36px;
    }
  }
}

/* Escritorios pequeños */
@media (min-width: 1024px) {
  body {
    font-size: 22px;
  }
}

/* Escritorios grandes */
@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}

